.header-down #landing-header {
  background-color: black; }

#landing-header {
  transition: all .2s ease-in-out;
  background: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  #landing-header .navbar-brand {
    color: #fff; }
  #landing-header .navbar-collapse .navbar-right {
    padding-top: 3px;
    padding-bottom: 3px; }
  #landing-header .navbar-collapse a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: none; }
    #landing-header .navbar-collapse a.btn-success {
      border-color: #fff; }
      #landing-header .navbar-collapse a.btn-success:hover {
        background-color: #ff2747;
        border-color: #ff0d31; }

#landing {
  background: url("http://placekitten.com/800/500") no-repeat center center;
  padding: 11em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.grid-wrap .item {
  float: left;
  margin: 5px;
  /*margin: 0 30px 30px 0;*/ }
  .grid-wrap .item.simple {
    width: 217px; }
  .grid-wrap .item.double {
    width: 434px; }
  .grid-wrap .item .img-wrap {
    position: relative; }
    .grid-wrap .item .img-wrap a img {
      border-radius: 12px;
      width: 100%;
      height: auto; }
  .grid-wrap .item .description-wrap {
    border-radius: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center; }
